@page
@model ControleDeEstoque.Pages.Produtos.DetailModel
@{ViewData["Title"] = "Editar"; 
}

<div class="container col-8">
    <h4 class="text-center"> Atualizar Produto</h4>
    <hr />


    <div class="card shadow h-100 py-2">
        <div class="card-body">

            <form method="Post">
                <div class="row my-2">
                    <div class="col">
                        <label asp-for="Produto.nome">Nome*</label>
                        <input placeholder="Descrição do produto" asp-for="Produto.nome" class="form-control" required />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label asp-for="Produto.modelo">Modelo*</label>
                        <input placeholder="Modelo do produto" asp-for="Produto.modelo" class="form-control" required />
                    </div>

                    <div class="col">
                        <label asp-for="Produto.quantidade">Quantidade*</label>
                        <input placeholder="Quantidade do produto" asp-for="Produto.quantidade" class="form-control" required />

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label asp-for="Produto.Categoria.ID">Categoria*</label>
                        <input placeholder="Categoria do produto" asp-for="Produto.Categoria.ID" class="form-control" required />
                    </div>

                    <div class="col">
                        <label asp-for="Produto.tamanho">Tamanho*</label>
                        <input placeholder="Tamanho do produto" asp-for="Produto.tamanho" class="form-control" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="Produto.preco">Preço de Venda*</label>
                        <input placeholder="Preço unitário do produto" asp-for="Produto.preco" class="form-control" required />
                    </div>

                    <div class="col">
                        <label asp-for="Produto.imagem">Imagem*</label>
                        <input placeholder="Imagem do produto" asp-for="Produto.imagem" class="form-control" required />
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">
                        <label asp-for="Produto.descricao">Descrição*</label>
                        <textarea placeholder="Descrição do produto" asp-for="Produto.descricao" class="form-control" col="8" rows="4" required></textarea>

                    </div>

                </div>
                <div class="d-flex flex-row-reverse">
                    <input type="submit" value="Edit" class="btn btn-primary">Atualizar/>
                </div>
            </form>

        </div>
    </div>

</div>
