@page 
@model ControleDeEstoque.Pages.Validacao.LoginModel
@{
}

@using (Html.BeginForm(FormMethod.Post))
{
    //cria a tag do formulário
    @Html.AntiForgeryToken() // previne o ataque CSRF
    @Html.ValidationSummary(true)
    <div class="container col-8">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="text-center">
                    <h1>Logar no sistema</h1>
                </div>
                <form method="post">
                    <div class="mx-2">
                        <div class="row my-2">
                            <div class="col">
                                <div class="text-center">
                                    <table class="table">
                                        <tr>
                                            <td> <label> Usuario</label> </td>
                                            <td> <input type="text" id="Usuario" name="Usuario" required/> </td>
                                        </tr>
                                        <tr>
                                            <td>  <label> Senha </label> </td>
                                            <td>
                                                <input type="text" id="Senha" name="Senha" required/>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>

                                    <div class="row">
                                        <div class="col text-center">
                                            <button class="btn btn-primary" type="submit">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
}